venv/
__pycache__/
.ipynb_checkpoints/

dataset_rle.jsonl
dataset_image.jsonl
dataset_image_pair.jsonl
dataset_histogram.jsonl
dataset_task.jsonl
dataset_cellular_automaton.jsonl
dataset_shape.jsonl
dataset_solve_translate.jsonl
